*{
  font-family: 'Quicksand', sans-serif;
  box-sizing:border-box;
}

#page{
  width:100%;
  height:100%;
  max-width:1170px;
  margin:0 auto;
}

.bodyContainer{
  height:100%;
  position: relative;
}

.mainBody{
  float:right;
  margin-left: 300px;
}
/*****************navbar****************/
.navbarContainer{
  position:fixed;
  height:100%;
  width:300px;
  float:left;
  background:#f2f3f7;
  overflow-y:scroll;
  z-index:1001;
}

.photo{
  padding-top:10%;
  text-align:center;
}

.photoDescribe{
  border-radius:50%;
}
.name{
  padding-top:30px;
  padding-bottom:10px;
  text-align:center;
}
.nameText{
  font-weight:700;
  font-size:22px;
}
.job{
  padding-bottom:10px;
  text-align:center;
}
.jobText{
  font-size:16px;
}
.navbar{
  padding-top:30px;
  padding-bottom:30px;
  text-align:center;
}
.navbarItems{
  line-height:30px;
  font-size:15px;
  font-weight:500;
  letter-spacing:1px;
  text-transform:uppercase;
}
.navbarItem{
  
  font-size:12px;
  text-decoration:none;
  color: rgba(0,0,0,.7);
  transition:all 0.5s ease;
  position:relative;
}

/*底線效果part1(OK)*/

.navbar a:active {
  color:skyblue;
  text-decoration: none;
}

.page{
  width:100%;
  height:100%;
}

.navbarItem:after{
  content:'';
  display:block;
  position:absolute;
  width:100%;
  height:2px;
  bottom:-2px;
  left:0px;
  background:skyblue;
  transform: scale3d(0,1,1);
  /*通過transform的缩放scale来讓初始時x軸為0*/
  transform-origin:50% 0;
  /*將坐標原點移到元素的中間，以原點為中心進行缩放*/
  transition:all 0.3s ease-in-out;
  
}
.navbarItem:hover::after,
.navbarItem.active::after {
  transform:scale3d(1,1,1);
  /*鼠标經過時還原到正常比例*/
}

/*
.navbarItem:hover{
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #3366FF;
  transition: 0.4s;
}

.navbarItem:hover:after {
  width: 100%;
}
*/

.versionText{
  font-size:85%;
  padding:0 20px;
  text-align:center;
  color: rgba(0,0,0,.5);
}
/*****************navbar****************/

/*****************main******************/

#mainContainer:after{
  content: "";
  position: absolute;;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

#mainContainer{
  display:block;
  background:url(../imgs/joshua-earle-1420452-unsplash.jpg) no-repeat;
  opacity:1;
  background-size:cover;
  background-position:center;
  height:100vh;
  z-index:-1;
  
}
/**iphone(320px)**/
@media (max-width:569px) {
	.mainBody{
    width:100%;
    text-align:center;
    margin:0 auto;
    overflow:hidden;
  }
  .navbarContainer{
    display:none;
  }
}
@media (max-width:321px) {
  .mainBody{
    width:100%;
    text-align:center;
    margin:0 auto;
    overflow:hidden;
  }
  .navbarContainer{
    display:none;
  }
}

.greeting{
  position:relative;
  top:18%;
  left:5%;
  z-index:2;
}

.greetingTextOne{
  font-size:60px;
  font-weight:700;
  line-height:1.3;
  margin-bottom:20px;
}

.greetingTextTwo{
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 30px;
  color:#f2f3f7;
}

.smallTitle{
  text-transform:uppercase;
  padding-bottom:15px;
  font-size:10px;
  font-weight:500;
  letter-spacing:5px;
  color: #999;
}

.bigTitle{
  text-transform:uppercase;
  padding-bottom:35px;
  font-size:18px;
  font-weight:700;
  letter-spacing:5px;
  line-height:1.8;
  color: #000;
}

.slider{ 
  position:relative;
  bottom:-70%;
  left:3%;
}

.dot{
  margin-top:5px;
  display:grid;
  background-color:rgb(11, 14, 10);
  height:25px;
  width:25px;
  border:3px grey solid;
  border-radius:50%;
}
.dot:hover{
  cursor:pointer;
  background-color:rgb(216, 186, 16);
}
/*****************main******************/


/***************persinal**************/
#personalContainer{
  padding-left:50px;
  padding-right:50px;
  padding-top:120px;
}

.personalTextOne , .personalTextTwo , .personalTextThree , 
.personalTextFour , .personalTextFive , .personalTextSix{
  margin-bottom:30px;
  font-size: 18px;
  font-weight: 700;
  color: rgba(0,0,0,.7);
}
/***************persinal**************/

/**************education***************/
#educationContainer{
  padding-left:50px;
  padding-right:50px;
  padding-top:120px;
}
.universityA , .highSchoolA , .juniorHighA , .elementaryA{
  text-decoration:none;
  background: #f2f3f7;
  border: 1px solid #e6e6e6!important;
  color: #333;
  font-weight: 700;
  font-size: 14px;
  padding:20px 25px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  transition:all 0.1s ease-in;
}

.universityBody , .highSchoolBody , .juniorHighBody , .elementaryBody{
  padding:30px;
  margin-top:3px;
  margin-bottom:5px;
  border: 1px solid #e6e6e6!important;
}

.schoolTitle{
  font-size: 20px;
  font-weight: 700;
  color: rgba(0,0,0,.7);
}

.schoolContent{
  font-size: 18px;
  font-weight: 600;
  color: rgba(0,0,0,.7);
}
/**************education***************/

/**************experience**************/
#experienceContainer{
  padding-left:50px;
  padding-right:50px;
  padding-top:120px;
}

.circle{
  display:block;
  background-color: #2c98f0;
  color:#fff;
  height:40px;
  width:40px;
  border:5px solid  #f2f3f7;
  border-radius: 50%;
  text-align:center;
}

.circleSecond{
  background-color:#ec5453;
}

.circleThird{
  background-color:#f9bf3f;
}

.lineBlock{
  position:relative;
  right:-17px;
  padding-left:50px;
  height:160px;
  border-left:#f2f3f7 5px solid;
}

.workFirstContainer,.workSecondContainer,.workThirdContainer{
  background: #f2f3f7;
  padding:30px;
  position: relative;
  bottom: 23%;
}

.arrow{
  position:absolute;
  left:4.6%;
  top:-18.5%;
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-right:15px solid #f2f3f7;
}

.firstTitle,.secondTitle,.thirdTitle{
  font-family: Arial,sans-serif;
  padding-bottom: 20px;
}

.workPosition{
  font-size: 20px;
  font-weight: 700;
  color: rgba(0,0,0,.7);
  text-decoration:none;
}

.date{
  font-size:16px;
  font-weight: 700;
  color: rgba(0,0,0,.7);
}

.firstContent,.secondContent,.thirdContent{
  color: rgba(0,0,0,.7);
  font-weight: 700;
  line-height: 1.8;
}

.spaceCircle{
  height:40px;
  width:40px;
  background-color:transparent;
  border-radius:50%;
  border:5px solid #f2f3f7;
}
/**************experience**************/

.fontawesome{
  display: inline-block;
}


/**************skills*****************/
#skillsContainer{
  padding-left:50px;
  padding-right:50px;
  padding-top:120px;
}

.skillTitle{
  padding-top:30px;
  padding-bottom:10px;
  border-bottom:  #e6e6e6 10px solid;
  width:100%;
  text-align:left;
  font-weight: 700;
}

.htmlProgress{
  width:0%;/*75*/
  height:0;
  border-top:#FDD835 5px solid;
  border-bottom: #FDD835 5px solid;
  border-radius: 12px;
  position: relative;
  top:-10px;
  text-align:right;
}
.htmlSpan{
  color:#FDD835;
  position:absolute;
  left:75%;
}


.htmlCircle{
  display: inline-block;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: #FDD835;
  position: absolute;
  left: 73%;
  bottom: 8.5px;
}

.htmlPro , .cssPro , .jsPro , .jqPro , .gitPro{
  opacity:0;
}

.cssProgress{
  width:0%;/*80*/
  height:0;
  border-top:#8E24AA 5px solid;
  border-bottom:#8E24AA 5px solid;
  border-radius: 12px;
  position: relative;
  top:-10px;
  text-align:right;
}
.cssSpan{
  color:#8E24AA;
  position:absolute;
  left:80%;
}

.cssCircle{
  display:inline-block;
  border-radius:50%;
  height:15px;
  width:15px;
  background-color:#8E24AA;
  position: absolute;
  left:78.5%;
  bottom:8.5px;
}

.jsProgress{
  width:0%;/*65*/
  height:0;
  border-top:#00E676 5px solid;
  border-bottom:#00E676 5px solid;
  border-radius: 12px;
  position: relative;
  top:-10px;
  text-align:right;
}
.jsSpan{
  color:#00E676;
  position:absolute;
  left:65%;
}
.jsCircle{
  display:inline-block;
  border-radius:50%;
  height:15px;
  width:15px;
  background-color: #00E676;
  position:absolute;
  left:63%;
  bottom: 8.5px;
}

.jqProgress{
  width:0%;/*60*/
  height:0;
  border-top:#FB8C00 5px solid;
  border-bottom:#FB8C00 5px solid;
  border-radius: 12px;
  position: relative;
  top:-10px;
  text-align:right;
}
.jqSpan{
  color:#FB8C00;
  position:absolute;
  left:60%;
}
.jqCircle{
  display:inline-block;
  border-radius: 50%;
  height:15px;
  width:15px;
  background-color:#FB8C00;
  position: absolute;
  left:58.5%;
  bottom: 8.5px;
}

.gitProgress{
  width:0%;/*45*/
  height:0;
  border-top:#2979FF 5px solid;
  border-bottom:#2979FF 5px solid;
  border-radius: 12px;
  position: relative;
  top:-10px;
  text-align:right;
}
.gitSpan{
  color:#2979FF;
  position:absolute;
  left:45%;
}
.gitCircle{
  display:inline-block;
  border-radius:50%;
  height:15px;
  width:15px;
  background-color:#2979FF;
  position: absolute;
  left:43%;
  bottom: 8.5px;
}
/**********contact************/
#contactContainer{
  padding-left:50px;
  padding-right:50px;
  padding-top:150px;
  padding-bottom:200px;
}

.contactDataContainer{
  float:left;
  width:40%;
}

.contactMessageContainer{
  float:right;
  width:40%;
}

.emailContainer,.placeContainer,.phoneContainer{
  margin-bottom:35px;
}

.figure{
  margin-right:20px;
  padding:25px;
  display:inline-block;
  background:#f2f3f7;
  color:#00B0FF;
  font-size:30px;
  text-align:center;
}

.figureA{
  text-decoration:none;
  color:#337ab7;
}

.formItems{
  margin-bottom:15px;
}

.formControl{
  width: 100%;
  padding: 10px 20px;
  border: transparent;
  background: #f2f3f7;
  height: 54px;
  font-size: 16px;
  font-weight: 400;
}
.btn{
  border: 2px solid #2c98f0;
  background: #2c98f0;
  color:#fff;
  text-transform:uppercase;
}
#message{
  height:130px;
}

.placeSpan{
  display:inline-block;
}

.footerContainer{
  clear:both;
  border-top:#f2f3f7 1px solid;
}

.footer{
  font-size:50px;
  text-align:center;
}

.line{
  color:green;
  text-decoration:none;
}
.facebook{
  color:blue;
  text-decoration:none;
}
.instagram{
  color:purple;
  text-decoration:none;
}
.github{
  color:black;
  text-decoration:none;
}

.fab{
  margin: 0 7px;
}

.fab:hover{
  transition: all 0.7s ease-out;
  transform:rotate(6.28318rad) scale(1.5);
}

/**ipad(768px)**/
@media (max-width:769px){
  .contactDataContainer{
    float:none;
    width:90%;
    margin: 0 auto;
  }
  .contactMessageContainer{
    float:none;
    width:90%;
  }
  .slider{
    position: relative;
    bottom: -55%;
    left: 3%;
  }
}

@media(max-width:568px){
  .greeting{
    display:inherit;
    top: 12%;
    left: 0%;
  }
}

@media (max-width:415px){
  .figure{
    display:block;
  }
  .greeting{
    position:relative;
    top: 12%;
    left:0%;
    display:inherit;
  }
  .slider{
    position: relative;
    bottom: -50%;
    left: 3%;
  }
}

@media(max-width:375px){
  .slider{
    position: relative;
    bottom: -43%;
    left: 3%;
  }
}

/**iphone(320px)**/
@media (max-width:321px){
  .figure{
    display:block;
  }
  .greeting{
    position:absolute;
    top: 12%;
    left:0;
    display:inherit;
  }
  .slider{
  position: relative;
  bottom: -85%;
  left: 3%;
  }
}
/**********contact************/

/**animate**/
.hideLeft{
  position: relative;
  left: -50px;
  opacity:0;
}

.hideRight{
  position: relative;
  right: -50px;
  opacity:0;
}

.aboutMove{
  padding-top:300px;
  opacity:0;
}


/**animate**/